*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b1120;
    color:#fff;
    cursor:none;
    overflow-x:hidden;
}

/* Custom Cursor */

.cursor{
    width:20px;
    height:20px;
    background:#00c3ff;
    border-radius:50%;
    position:fixed;
    top:0;
    left:0;
    transform:translate(-50%,-50%);
    pointer-events:none;
    z-index:99999;
    box-shadow:0 0 25px #00c3ff;
    transition:.15s;
}

/* Navbar */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    z-index:999;
}

.logo{
    font-size:35px;
    font-weight:700;
    color:#00c3ff;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#00c3ff;
}

/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 8%;
}

.hero-left{
    width:50%;
}

.hero-left h3{
    font-size:30px;
}

.hero-left h1{
    font-size:70px;
    margin:20px 0;
}

.hero-left span{
    color:#00c3ff;
}

.hero-left h2{
    color:#00c3ff;
    margin-bottom:20px;
}

.hero-left p{
    font-size:20px;
    line-height:35px;
}

.hero-right{
    width:40%;
    display:flex;
    justify-content:center;
}

.hero-right img{
    width:380px;
    height:380px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #00c3ff;
    box-shadow:0 0 40px #00c3ff;
}

/* Buttons */

.btn,.btn2{

display:inline-block;

margin-top:30px;

padding:12px 28px;

background:#00c3ff;

color:#000;

text-decoration:none;

border-radius:30px;

font-weight:bold;

margin-right:15px;

transition:.3s;

}

.btn:hover,

.btn2:hover{

transform:translateY(-5px);

box-shadow:0 0 20px #00c3ff;

}

/* Sections */

section{

padding:100px 8%;

}

section h1{

font-size:45px;

margin-bottom:40px;

color:#00c3ff;

}

/* Cards */

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.card{

padding:30px;

background:#111827;

border-radius:15px;

transition:.4s;

border:1px solid rgba(255,255,255,.1);

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 25px #00c3ff;

}

/* Contact */

#contact p{

font-size:20px;

margin:15px 0;

}

#contact a{

color:#00c3ff;

text-decoration:none;

}
/* ===== Mouse Glow ===== */

body::before{
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
        200px circle at var(--x) var(--y),
        rgba(0,195,255,0.18),
        transparent 70%
    );
    z-index: 0;
}